node_modules/
.expo/
/android/
/ios/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.*
*.log
*.tmp

# Xcode user/local artifacts
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
DerivedData/
